
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 ;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background-color: #1a2325;
	color:#ffffff;
	border-top: 2px #f8695a solid;
	margin-right:auto;
	margin-left:auto;
	width:960px;
		}
.logo{ 
	  top:0;
	  border:0 px;
      }
article{
	padding:50 px;
	border-top:100 px;
	}
	
h1{
	font-family:Museo Slab, Adobe Text Pro, serif;
	font-size: 32 px;}
h4{
	color: gray;
	font-family:helvetica,san serif;
	font-size: 16 px;
	font-weight: lighter;}
p{
	font-family:helvetica,san serif;
	font-size: 12 px;
	font-weight: lighter;}
a{
	color: #01ccce;}
h2{
	font-family:Museo Slab, Adobe Text Pro, serif;
	font-size: 24 px;}
.product-image1 {
	float:right; 
 
    position: relative;
    top:200 px;
    right:200 px;
}

